body{
    background: linear-gradient(to bottom right, #000000,80%, #ffd700);
}
@font-face {
    font-family: 'Kirsty';
    src: url('fuentes/kirsty_bd-webfont.woff2') format('woff2');
  }
  body {
    font-family: 'Kirsty', sans-serif;
  }
@font-face {
    font-family: 'Kirsty';
    src: url('fuentes/kirsty_bd-webfont.woff2') format('woff2');
  }
  h2{
  text-align: left;
  font-family: 'Kirsty', sans-serif;
  color: goldenrod;
}
